@-webkit-keyframes madness {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes madness {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes madness {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes madness {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes madness {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
}

@-webkit-keyframes pulsating {
0% {background-color: red;}
50% {background-color: green;}
100% {background-color: red;}
}
@-moz-keyframes pulsating {
0% {background-color: red;}
50% {background-color: green;}
100% {background-color: red;}
}
@-o-keyframes pulsating {
0% {background-color: red;}
50% {background-color: green;}
100% {background-color: red;}
}
@-ms-keyframes pulsating {
0% {background-color: red;}
50% {background-color: green;}
100% {background-color: red;}
}
@-keyframes pulsating {
0% {background-color: red;}
50% {background-color: green;}
100% {background-color: red;}
}
#not_madness{
	position:fixed;
	bottom:-30px;
	width:100%;
	text-align:center;	
	transition:all 3s ease-out;
	background:black;
	color:white;
	font-size:40px;
	z-index:9999999;
	font-family: monospace;
}
#not_madness.animate{
	bottom:500px !important;
}