#contLogin{
	background: url(../../img/logo220.png) no-repeat left;
}

.labelFormLogin{
	/*color:#778A89;*/
	/*color:#469562;*/
	/*color:#dabb38;*/
	/*color:#a77227;*/
	/*color:#bd4c3f;*/
	color:white;
}

body{
	background: url(../../img/cpd2.jpg) no-repeat fixed left;
	background-size: 100%;
}


#saltoslogin {
margin-bottom: 6em;
}

form {
	padding-top: 4em;
}

@media only screen and (max-device-width: 480px), only screen and (device-width: 767px) and (device-height: 480px), only screen and (device-width: 480px), only screen and (max-width: 480px) {

	body{
		background: url(../../img/wallpaper-server2_movil.jpg) no-repeat fixed left;
		background-size: 100%;
	}
	#saltoslogin{
		display:none;
	}

	#contLogin{
		/*border:3px solid #778A89;
		border-radius:35px;
		background: #E0E0E0 url(../img/logobig.png) no-repeat left;*/
		background: url(../../img/logobig.png) no-repeat top;
		background-size: 33%;
		height:30%;
	}
}
