#formBusca select {margin-bottom: 1em;}

#buscar {
	height:27px;
	font-size:12px;
}

#btn_new_quick, #btn_new {
	color: #fff;
}

input#search {
	width:300px;
}

#action_row {
	text-align: right;
}

th {text-align: center;}

.red {
	color: red;
}

.green {
	color: green;
}

#datosDescuento table {
	font-size:12px
}

#datosDescuento #code,
#datosDescuento #price,
#datosDescuento #percent,
#datosDescuento #price_product {
	width: 50%;
}

#datosDescuento #uses,
#datosDescuento #total_uses,
#datosDescuento #date_begin,
#datosDescuento #date_end,
#datosDescuento #description,
#datosDescuento #notes,
#datosDescuento #services,
#datosDescuento #products {
	width:100%;
}

#datosDescuento #services,
#datosDescuento #products {
	height: 200px !important;
}

#datosDescuento #divClientes {
	white-space:nowrap;
	width:90%;
}

#datosDescuento .label-discount {
	font-size:10px;
	color:#ADADAD;
}

#datosDescuento .month-slider-toggle {
	color:blue;
	border-bottom:1px dashed blue;
	cursor:pointer;
}

#datosDescuento #buscaCliente {
	width:86%;
}

#datosDescuento #messpan {
	color:orange;
}

#datosDescuento .customer-table {
	width:100%;
	font-size:12px;
}


#datosDescuento #errores {
	color: red;
}
